<div class="container">
	<section>
		{{#product}}
		<div class="row">

			<div class="span8">

				<div class="row">
					<!-- Images
					================================================== -->
					<div class="span8">

					  <img src="images/products/bigsize/{{coverimage}}" alt="" height="350" />

					</div>
				</div>

			</div>

			<!-- Project info
			================================================== -->

			<div class="span4">
				<div class="divider-strip block-title" style="margin-top:0;"><h4>{{name}}</h4><span class="strip-block"></span></div>
				<p>{{applyrange}}</p>

				<div class="divider-strip block-title"><h4>introduce</h4><span class="strip-block"></span></div>
				<p>{{introduce}}</p>

				<div class="divider-strip block-title"><h4>classes</h4><span class="strip-block"></span></div>
				<p>{{classes}}</p>

				<div class="divider-strip block-title"><h4>classes</h4><span class="strip-block"></span></div>
				<p>{{classes}}</p>

			</div>

		</div>
		{{/product}}
	</section>

	<div class="divider"></div>

</div><!-- /container -->