

<div class="slider-home">

<div class="container">
 <div class="row">
  <div class="span12">

<!-- Slider
================================================== -->
  <div id="header-container">
    
		<div id="header">

				<img class="prev" src="/images/bt-prev.png" alt="Previous Frame" />
				<img class="next" src="/images/bt-next.png" alt="Next Frame" />
				
			<div id="sequence">
				<ul style="margin:0;">
					<li>
						<h2 class="title">Creative <span>Template</span></h2>
						<h3 class="subtitle">Responsive Business &amp; Portfolio Template</h3>
						<img class="model animate-in" src="/images/model1.png" alt="Model 1" />
					</li>
					<li>
						<h2 class="title">Creative <span>Design</span></h2>
						<h3 class="subtitle">Responsive Business &amp; Portfolio Template</h3>
						<img class="model" src="/images/model2.png" alt="Model 2" />
					</li>
					<li>
						<h2 class="title">Creative <span>Template</span></h2>
						<h3 class="subtitle">Responsive Business &amp; Portfolio Template</h3>
						<img class="model" src="/images/model3.png" alt="Model 3" />
					</li>
                    <li class="frame4">
						<h2 class="title">Creative <span>Design</span></h2>
						<h3 class="subtitle">Responsive Business &amp; Portfolio Template<br>
<a class="btn btn-large btn-success pull-right" href="#" style="margin-top:20px;">Buy This Template</a></h3>
						<img class="model" src="/images/model4.png" alt="Model 4" />
					</li>
				</ul>
			</div>
           
            
		</div>
	</div>
    
    <div style="position:relative">
     <ul id="nav">
				<li><img src="/images/tn-model1.png" alt="Model 1" /></li>
				<li><img src="/images/tn-model2.png" alt="Model 2" /></li>
				<li><img src="/images/tn-model3.png" alt="Model 3" /></li>
                <li><img src="/images/tn-model4.png" alt="Model 4" /></li>
			</ul>
    </div>

  </div>
 </div>
</div>

</div>

<div class="container">
 
<!-- Home content
================================================== -->
<div class="divider"></div> 

<div class="row">
{{#mainproducts}}
 <div class="span4 block-info">
  <h4>test</h4>
  <h3><a href="/product/{{_id}}" class="home-title">{{name}}</a></h3>
  <img src="/images/products/bigsize/{{coverimage}}" alt="" style="margin:25px 0 20px">
  <p>{{introduce}}</p>
  <a class="btn pull-right" href="/product/{{_id}}">read more</a>
 </div>
 {{/mainproducts}}
</div>

 
  
    
  
 <!-- Latest project
================================================== -->  
  
  <div class="row">
  <div class="span12 divider-strip"><h4>产品</h4><span class="strip-block"></span></div>
  </div>

  <ul class="thumbnails">
    {{#products}}
    <li class="span3 item-block">
     <a href="/images/products/smsize/{{image.[0]}}" class="zoom" rel="prettyPhoto" title="{{name}}"></a>
     <a href="product/{{_id}}" class="link"></a>
      <a class="thumbnail" href="product/{{_id}}">
        <img src="/images/products/smsize/{{image.[0]}}" alt="example-item">
      </a>
      <div class="desc">
      <a href="product/{{_id}}">{{name}} </a>
       <p> <em>{{applyrange}}</em></p>
      </div>
    </li>
    {{/products}}
  </ul>
  
 <!-- Our Services
================================================== --> 
  <div class="row">
  <div class="span12 divider-strip"><h4>服务</h4><span class="strip-block"></span></div>
  </div>
  
  <div class="row">
   <div class="span4">
    <video src="/media/VH_videoAsset.flv" type="video/flv" controls="controls"></video>
   </div>
   <div class="span8">
    <div class="row">
    
    <div class="span4 block-info pull-left">
      <img class="pull-left" src="/img/create-icon.png" alt="">
      <h3><a href="#">web design</a></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    <div class="span4 block-info pull-left">
      <img class="pull-left" src="/img/develop-icon.png" alt="">
      <h3><a href="#">development</a></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    <div class="span4 block-info pull-left">
      <img class="pull-left" src="/img/usability-icon.png" alt="">
      <h3><a href="#">usability</a></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    <div class="span4 block-info pull-left">
      <img class="pull-left" src="/img/responsive.png" alt="">
      <h3><a href="#">responsive</a></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    
    </div>
    </div>
    </div>
    <div class="divider"></div> 
  
  
  <!-- Latest blog
================================================== -->
  
    <div class="row">
  
    <div class="span6">
    <div class="divider-strip block-title"><h4>最新资讯</h4><span class="strip-block"></span></div>
      <div class="row">
    <div class="span3 blog-home">
     <img src="/img/blog-examples/blog-home.jpg" alt="">
     <ul class="meta pull-left"><li class="data">21 may<br>2012</li><li class="post-format image"><span></span></li></ul>
     <h3><a href="#">Lorem ipsum dolor sit amet</a></h3> 
     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa...</p>
     <a href="blog.html" class="btn">Read more</a>
    </div>
    <div class="span3 blog-home">
    <iframe src="http://player.vimeo.com/video/28220269?title=0&amp;byline=0&amp;portrait=0" width="270" height="100" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <ul class="meta pull-left"><li class="data">21 may<br>2012</li><li class="post-format video"><span></span></li></ul>
     <h3><a href="#">Lorem ipsum dolor sit amet</a></h3> 
     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa...</p>
     <a href="blog.html" class="btn">Read more</a>
    </div>
    </div>
    </div>
    
    <div class="span6">
    
    <div class="divider-strip block-title"><h4>行业动态</h4><span class="strip-block"></span></div>
      <div class="testimonialswrap" data-autorotate="3000">
		
		<ul class="testimonials-slider" id="testimonials">
			<li class="testimonials-slide">	
				 <blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
			</li>
			<li class="testimonials-slide">	
				<blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
			</li>
			<li class="testimonials-slide">	
				<blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
			</li>
			<li class="testimonials-slide">	
				<blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
			</li>
			<li class="testimonials-slide">	
				<blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
			</li>
		</ul>
        
        <div class="testimonials-controls">
			<a href="#testimonials" class="next-l">1</a>
			<a href="#testimonials" class="prev-l">2</a>
		</div>
        
	</div>
    </div>

    </div>

<div class="row">
 <div class="divider"></div>    
<!-- Promo
================================================== -->
 
 <div class="well no-padding-lr span12">
 <div class="row promo-buy">
  <div class="span9"><h1 class="center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h1></div>
  <div class="span3"><a class="btn btn-large btn-success right margin-right" href="#"><i class="icon-shopping-cart icon-white"></i> Buy This Template »</a></div>
 </div>
 </div>
  
   
  </div>
  
  <div class="divider"></div>

</div>

<script data-main="/javascripts/main.js" src="/js/require.js"></script>


     