


<div class="slider-home">

<div class="container">
 <div class="row">

<!-- Slider
================================================== -->
  <div class="span12 cont-bs">
   <!-- Slideshow -->
    <ul class="rslides rslides1">
      {{#mainproducts}}
      <li><img src="images/products/bigsize/{{coverimage}}" alt="" /><div class="caption">{{name}}</div></li>
      {{/mainproducts}}
    </ul>
  </div>

 </div>
</div>

</div>

<div class="container">
 
<!-- Home content
================================================== -->
<div class="divider"></div> 

<div class="row">
{{#mainproducts}}
 <div class="span4 block-info">
  <h4>test</h4>
  <h3><a href="/product/{{_id}}" class="home-title">{{name}}</a></h3>
  <img src="/images/products/bigsize/{{coverimage}}" alt="" style="margin:25px 0 20px">
  <p>{{introduce}}</p>
  <a class="btn pull-right" href="/product/{{_id}}">read more</a>
 </div>
 {{/mainproducts}}
</div>

 
  
    
  
 <!-- Latest project
================================================== -->  
  
  <div class="row">
  <div class="span12 divider-strip"><h4>产品</h4><span class="strip-block"></span></div>
  </div>

  <ul class="thumbnails">
    {{#products}}
    <li class="span3 item-block">
     <a href="/images/products/smsize/{{image.[0]}}" class="zoom" rel="prettyPhoto" title="{{name}}"></a>
     <a href="product/{{_id}}" class="link"></a>
      <a class="thumbnail" href="product/{{_id}}">
        <img src="/images/products/smsize/{{image.[0]}}" alt="example-item">
      </a>
      <div class="desc">
      <a href="product/{{_id}}">{{name}} </a>
       <p> <em>{{applyrange}}</em></p>
      </div>
    </li>
    {{/products}}
  </ul>
  
 <!-- Our Services
================================================== --> 
  <div class="row">
  <div class="span12 divider-strip"><h4>服务</h4><span class="strip-block"></span></div>
  </div>
  
  <div class="row">
   <div class="span4">
    <img src="/img/develop-icon.png" alt="">
   </div>
   <div class="span8">
    <div class="row">
    
    
    <div class="span4 block-info pull-left">
      <img class="pull-left" src="/img/develop-icon.png" alt="">
      <h3>精密的制造</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    
    <div class="span4 block-info pull-left">
      <img class="pull-left" src="/img/responsive.png" alt="">
      <h3><a href="#">精诚的服务</a></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    
    </div>
    </div>
    </div>
    <div class="divider"></div> 
  
  
  <!-- Latest blog
================================================== -->
  
    <div class="row">
  
    <div class="span6">
      <div class="divider-strip block-title"><h4>最新资讯</h4><span class="strip-block"></span></div>
      <div class="row">
        {{#messages}}
        <div class="span3 blog-home">
         <img src="/img/blog-examples/blog-home.jpg" alt="">
         <ul class="meta pull-left">
           <li class="data">{{createat}}</li>
           <li class="post-format image"><span></span></li>
         </ul>
         <h3><a href="#">{{title}}</a></h3> 
         <p>{{content}}</p>
         <a href="blog.html" class="btn">Read more</a>
        </div>
        {{/messages}}
      </div>
    </div>
    
    <div class="span6">
    
    <div class="divider-strip block-title"><h4>行业动态</h4><span class="strip-block"></span></div>
      <div class="testimonialswrap" data-autorotate="3000">
		
		<ul class="testimonials-slider" id="testimonials">
      {{#industries}}
			<li class="testimonials-slide">	
				 <blockquote><p>{{content}}</p>
          <small>{{title}}</small></blockquote>
			</li>
      {{/industries}}
		</ul>
        
        <div class="testimonials-controls">
			<a href="#testimonials" class="next-l">1</a>
			<a href="#testimonials" class="prev-l">2</a>
		</div>
        
	</div>
    </div>

    </div>

<div class="row">
 <div class="divider"></div>    
   
  </div>
  
  <div class="divider"></div>

</div>

<script data-main="/javascripts/main.js" src="/js/require.js"></script>


     