<div class="container">

<!-- Blog post
================================================== -->

<section>

<div class="row">

<div class="span8">
<div class="row">

{{#messages}}
<div class="span8">
<div class="row">

<div class="span1">
<ul class="blog-meta meta pull-left"><li class="data">{{createat}}</li><li class="post-format default"><span></span></li>
<li><a href="#">{{author}}</a></li><hr>
<li>
</ul>
</div>

  <div class="span7">
  <h2 class="post-title">{{title}}</h2>
  <p>{{content}}</p>
  <a class="btn">read more</a>
  </div>

</div>
<div class="divider-post"></div>
</div>
{{/messages}}








<div class="span8">
  <div class="pagination">
    <ul>
      <li><a href="#">Prev</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </div>
</div>

</div>
</div>

<!-- Sidebar
================================================== -->

<div class="span4">

<div class="testimonialswrap" data-autorotate="3000">
      
  <ul class="testimonials-slider" id="testimonials">
    {{#products}}
    <li class="testimonials-slide"> 
      <img src="/images/products/bigsize/{{coverimage}}" alt="" width="370">
    </li>
    {{/products}}
  </ul>
      
  <div class="testimonials-controls">
    <a href="#testimonials" class="next-l">1</a>
    <a href="#testimonials" class="prev-l">2</a>
  </div>
      
</div>

</div>
      

</div><!--/row-->
</section>
  

  <div class="divider"></div>

    </div><!-- /container -->
<script data-main="/javascripts/message.js" src="/js/require.js"></script>
