<div class="container">

<!-- Portfolio filter
================================================== -->
<section>
<div class="row">
  <ul id="portfolio-filter" class="span12">
      <li>
          <a href="javascript:void(0)" title="" class="currents">All</a>
      </li>
      <li>
          <a href="javascript:void(0)" title="">main</a>
      </li>
  </ul>
</div>
  
<!-- Portfolio item
================================================== -->
 
<ul class="thumbnails portfolio" id="containment-portfolio">
  {{#otherproducts}}
    <li class="span3 item-block {{classes}} all">
      <a class="thumbnail" href="/product/{{_id}}">
        <img src="http://aojiang.b0.upaiyun.com/sm/{{image.[0]}}" alt="example-item">
      </a>
      <div class="desc">
        <a href="/product/{{_id}}">{{name}}</a>
        <p> <em>{{applyrange}}</em> </p>
      </div>
    </li>
    {{/otherproducts}}
  </ul>
  <ul class="thumbnails portfolio" id="containment-portfolio">
  {{#mainproducts}}
    <li class="span3 item-block {{classes}} main">
      <a class="thumbnail" href="/product/{{_id}}">
        <img src="http://aojiang.b0.upaiyun.com/sm/{{image.[0]}}" alt="example-item">
      </a>
      <div class="desc">
        <a href="/product/{{_id}}">{{name}}</a>
        <p> <em>{{applyrange}}</em> </p>
      </div>
    </li>
    {{/mainproducts}}
  </ul>
</section>
  <div class="divider"></div>

</div><!-- /container -->
<script data-main="/javascripts/product.js" src="/js/require.js"></script>
