<tr>
	<td>{{name}}</td>
	<td>{{classes}}</td>
	<td>{{main}}</td>
	<td><button type="button" class="btn btn-primary delpro" data-id="{{_id}}">删除</button></td>
	<td>
			<input class="fileupload" type="file" name="img" data-url="product/upload/big/{{_id}}">
	</td>
	<td>
			<input class="fileupload" type="file" name="img" data-url="product/upload/small/{{_id}}">
	</td>
</tr>